*{
    margin-top: 5px;
}

html,body{
width:100%;
padding: 0 15px;
background:#fafafa !important;
}

.clear{
clear:both;
}

section.menu1{
width:100% !important;
height: auto !important;
margin:0;
}

.menu1  {
width: 100%;
padding: 0 28vh;
}

section.menu1 .btn1{
font-size: 12px !important;
font-weight: 500 !important;
margin: 0 !important;
padding:3px 2vh;
border-radius: 12px  !important;
background: transparent !important;
color:#000000 !important;
border: 1px solid #eeeeee !important;
}

section.menu1 .btn1:hover{
transition: 0.2s;
background:#007bff !important;
color:#ffff !important;
text-decoration:underline;
cursor: pointer;
}


input[type=search]{
border-radius: 15px;
outline:none !important;
border: none !important;
width: auto !important;
}

button.btn-outline-success{
    background:white;
    color: #000000;
    border:0;
}


button.btn-outline-success:hover{
    background:#007bff;
    border:0;
    transition: all ease 0.2s;
}


section.ouvidoria{
width: 100%;
height: auto;
border-top-left-radius:24px;
border-top-right-radius:24px;
background:#01579b;
padding: 25px 10vh;
}

.teste{
width: 100%;
height:auto;
}


.teste > .img img{
float:left;
width: 166px;
height: 94px;
margin: 0 18vh;
}

 .nav-pills2{
float:right;
padding:0 19vh;
}


a button.nav-item1{
width: 166px;
height: 90px !important;
font-size: 14px;
font-weight: 500;
background:#FFFF!important;
margin:  0 1vh  !important;
color:black;
border-radius: 24px !important;
border:0 !important;
letter-spacing: normal !important;
text-align:center;
}


a button.nav-item1:hover{
color:white !important;
background: #007bff !important;
transition: all ease 0.2s;
}




section.dropdown{
width:100%;
padding: 1.5vh 32vh!important;
margin: 0  !important;
height:auto;
background:#0277bd !important;
text-align:center !important;
flex-grow: 0 !important;
font-weight: 600 !important;
font-stretch: normal !important;
font-style: normal !important;
line-height: normal !important;
letter-spacing: normal !important;
text-align: center !important;
position:relative;
}


.dropdown-menu ul li a{
margin-bottom: 10px 0 !important;
}


.btn-secondary a{
text-decoration:none;
color: white !important; 
}

section.dropdown .btn-group{
display:inline-flex!important;
padding: 0 2vh;
}

.dropdown-toggle{
    background:transparent!important;
    border: none!important;
}

.btn-secondary button:hover{
    background: transparent;
    color: #01579b;
    border: 0!important;
    transition: all ease 0.2s;
}
:active{
    border: 0!important;
    transition: all ease 0.2s;
}

section.carrousel {
margin:-2vh 0 !important;
width: auto !important;
height: auto;
position:relative;
}

.carousel-control-next-icon{
width: 48px;
height: 48px;
}

.carousel-control-next-icon:hover{
width: 50px;
height: 50px;
transition: all ease 0.2s;
transition-timing-function: ease-out 0.2s;
}

.carousel-control-prev-icon{
width: 48px;
height: 48px;
}

.carousel-control-prev-icon:hover{
width: 50px;
height: 50px;
transition: all ease 0.2s;
transition-timing-function: ease-out 0.2s;
}

.btn2{
background:#FFFF !important;
padding:  5vh;
}

/*------------------SLIDE DOS BOTOES---------------*/
.slide2{
position:relative;
width:auto;
height:auto;
margin:vh auto;
background:#01579b;
border-bottom-left-radius: 24px;
border-bottom-right-radius: 24px;
padding:0 15vh;
}

.carrossel{
padding: 0 6vh; 
position: relative;
margin:0 10vh ;
}

.btn5{
width: 140px;
height: 80px;
padding: 0 0vh !important;
margin: 5vh 0;
border-radius: 24px;
border:0;

margin:0;

}

.prev{
width:50px;
height:50px;
float:left;
background:transparent;
border:0;
margin: 0 5vh ;
margin-top: -100px;
position: absolute;
z-index: 9999;  

}

.slick-next, .next {
width:50px;
height:50px;
float:right;
background:transparent;
border:0;
margin: 0 10vh;
margin-top: -100px;
position: relative;
z-index: 9999; 
}

.prev:hover{
width:52px;
height:52px;
transition: all ease-in 0.2s;
}

.next:hover{
width: 52px;
height:52px;
transition: all ease-in 0.2s;
}
/*--------------------SLIDE DOS BOTOES--------------------*/

/*--------------------NOTICIAS--------------------*/
section.noticias{
width: 100%!important;
height:auto !important;
background: #fafafa;
margin: 0 2vh !important;
padding:-10vh 2vh  !important;

}

.noticias h2{
padding: 2vh 20vh;
color:#01579b !important;
text-shadow: 3px 5px 10px #137ac9;
}

.data-azul1 h6{
color:#001c33;
margin-top: -35vh;
padding:7px 2vh;
position: absolute;
background:#4fc3f7;
font-size: 15px;
margin-left: 2vh;
width: 115px;
height: 32px;
border-radius: 16px;
z-index:9999 !important;
}

.card-deck{
height:auto;
padding: 5vh 17vh;
display:inline-flex;
}

.card{
border-radius:24px!important;
width: 550px;
height:318px;
margin: -5vh 2vh !important; 
background:white !important; 

}

.card-init p{
color:#616161;
margin:0vh 0vh;
font-size:16px;
}

.card img:hover{
width:552px; 
height:318px; 
transition: ease-in-out 0.2s;

}

.card-deck p:hover{ 
color:#01579b !important;
font-size:18px;
transition: ease-in-out 0.2s;
}
/*-------------------NOTICIAS-------------------*/

/*-------------------NOTICIAS-2-------------------*/
section.noticias-cards{
width: auto;
height:auto;
background:  white;
margin:15vh 70px !important;
padding:0 9vh !important;
border-radius:24px;
}


.carrossel1{
    width:auto!important;
    padding:0  2vh !important;
}


.data-azul2 h6{
color:#001c33;
margin-top: -17vh;
padding:5.8px 1.5vh;
position: absolute;
background:#4fc3f7;
font-size: 15px;
margin-left: 3vh ;
width: 100px;
height: 32px;
border-radius: 16px;
z-index:9999 !important;
}

section.card1{
border-radius:24px!important;
width: auto;
height:auto;
margin:0 1vh;
background:white !important; 
padding:2vh 0;
}

.card1 img{
width: 300px;
height:auto;
padding:0 2vh;
}

.card1 p{
text-align: left;
color:#616161;
margin:0.5vh 0vh;
font-size:14px;
}

.card1 img:hover{
    width: 302px;
transition: ease-in-out 0.2s;

}

.card-init p:hover{ 
color:#01579b !important;
font-size:22px;
transition: ease-in-out 0.2s;
}

.prev1{
width:55px;
height:55px;
float:left;
background:transparent;
border:0;
margin: 0 16vh!important;
margin-top: -32vh!important;
position: absolute;
z-index: 9999!important;  
}

.slick-next, .next1{
width:55px;
height:55px;
float:right;
background:transparent;
border:0;
margin: 0 15vh!important;
margin-top: -32vh!important;
padding: 0 1vh;
position: relative;
z-index: 9999; 
}

.prev1:hover{
width:57px;
height:57px;
transition: all ease-in 0.2s;
}

.next1:hover{
width: 57px;
height:57px;
transition: all ease-in 0.2s;
}
/*-------------------NOTICIAS-2-------------------*/

/*-------------------VEJA-MAIS-NOTÍCIAS-------------------*/
section.veja-mais{
width: 100%;
height:auto;
margin:0;
padding: 0 37%;
overflow-x: hidden!important;
}

.mais-resultados button{
position: absolute;
background: #ffb300;
width: 226px;
height: 48px;
border-radius: 12px;
color: #331600;
outline-style: none;
border: none !important;
font-weight: bolder;
margin: -9vh 5vh auto;

}

.mais-resultados button:active{

background:#FFB300;
color:#000000;
}

.mais-resultados button:hover{
background:#FFC107;
transition: all ease-out 0.2s;
color:#331600;
}

/*-------------------VEJA-MAIS-NOTÍCIAS-------------------*/


/*-------------------BANNER-558x160-------------------*/

.resultados{
width:700px;
height:auto;
padding:0  !important;
margin: 0 auto;

display: inline-flex;
}

.banner{
padding: 0 0vh;
margin: 2vh 2vh;
}

.resultados img{

margin:0  0 !important;
padding: 0 7vh;
} 

/*-------------------BANNER-558x160-------------------*/

/*-------------------Carrossel-Focado-------------------*/
section.carrossel-focado{
width:100%;
height:auto;
background:#01579b;
border-radius:16px;
}

.carrossel-focado h2{
padding: 2vh 20vh;
color:white !important;
font-size: 32px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
text-shadow: 3px 5px 10px #137ac9;
}


.img1 img:hover {
transform: scale(1.05);
transition: all ease 0.2s;
}

.center{
margin-left:  8vh;
margin-right:  8vh;
}

.txt h5{
margin-top: -16vh  !important;
text-align:left;
padding:0 2vh;
color:white;
z-index:999;
position: relative;
}

.data-azul3{
    padding: 0 2vh;
}

.data-azul3 h6{
color:#001c33;
margin-top: -22vh;
padding: 5.8px 2.5vh;
position: absolute;
background:#4fc3f7;
margin-left: ;
width: 128px;
height: 32px;
border-radius: 16px;
z-index:9999 !important;
}



.galeria{
margin-top:-8vh;
}


.galeria img  {
width: 100%;
height:auto;  
padding: 8vh 10vh;
}


.center img{
padding-left: 1vh;
padding-right: 1vh;
margin: 0;
}

.prev2{
width:55px;
height:55px;
float:left;
background:transparent;
border:0;
margin: 0 7.;
margin-top: -17vh;
position: absolute;
z-index: 9999;  
}

.slick-next, .next2{
width:55px;
height:55px;
float:right;
background:transparent;
border:0;
margin: 0 8.;
margin-top: -18vh;
padding: 0 1vh;
position: relative;
z-index: 9999; 
}

.prev2:hover{
width:57px;
height:57px;
transition: all ease-in 0.2s;
}

.next2:hover{
width: 57px;
height:57px;
transition: all ease-in 0.2s;
}

.mais-galerias{
padding: 2vh 40%;
margin: 2vh 0;
}

.mais-galerias button {

background:#ffd54f;
width: 226px;
height: 48px;
border-radius:12px;
color:#331600;
outline-style: none;
border:none !important;
font-weight: bolder;


}

.mais-galerias button:active{

background:#FFB300;
color:#000000;
}

.mais-galerias button:hover{
background:#FFC107;
transition: all ease-out 0.2s;
color:#331600;
}
/*-------------------Carrossel-Focado-------------------*/


/*--------------------Eventos-------------------*/
section.calendario-eventos{
width: 100%!important;
height:auto;
flex-direction: column;
}

.container{

background: white;
margin:  0vh;
padding: 0 1.5vh;
border-radius: 16px;
}

.card2{
width: 280px;
height:auto;
margin: 0 2.5vh;
padding: 0 1vh;
}

.card2 h5{
color:#01579b;
}

.card2 h5 b{
font-size: 25px;
}

.card2 p{
font-size:14px;
text-align: left;
}

.-eventos h2{
padding: 2vh 15vh;
color:#01579b !important;
font-size: 32px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
text-shadow: 3px 5px 10px #137ac9;
}
/*--------------------Eventos-------------------*/

section.galeria-video{
width: 100%;
height:auto;
display: inline-flex;
}

.card3{
border-radius:24px;
width: auto;
height:auto;
padding: 0 ;
margin:0 10vh;
background:white;
}
.card3 iframe{
width:100%;
height:260px;
border-radius: 24px;
}

.card3 h5{
color:#01579b;
text-shadow: 3px 5px 10px #137ac9;
}

section.botoes-mais{
padding: 5vh 5vh !important;
}


button.mais-videos {

background:#ffd54f;
width: auto;
height: auto;
padding: 2vh  4vh;
margin: 0  15vh;
border-radius:12px;
color:#331600;
outline-style: none;
border:none !important;
font-weight: bolder;
}

button.mais-videos:active{

background:#FFB300;
color:#000000;
}

.mais-videos button:hover{
background:#FFC107;
transition: all ease-out 0.2s;
color:#331600;
}



button.mais-obras {

background:#ffd54f;
width: 226px;
height: 48px;
border-radius:12px;
color:#331600;
outline-style: none;
border:none !important;
font-weight: bolder;
}

.mais-obras button:active{

background:#FFB300;
color:#000000;
}

.mais-obras button:hover{
background:#FFC107;
transition: all ease-out 0.2s;
color:#331600;
}
/*--------------------Eventos-------------------*/

/*-------------------PARALAX-BANNER-------------------*/
section.paralax{
width: 100% !important;
height:auto;
margin: -10vh 0  !important;
}

.w-50{
border: none !important;
border-top-left-radius: 0!important;
border-top-right-radius: 0!important;
padding:0 10vh ;
float:right;
width:auto;
height:auto;
z-index: 9999!important;
padding-top: 0  !important;
margin: -5vh 2vh  !important;
}

.card-body2{
padding:0 -5vh !important;
}

.w-50 h5{
font-size:30px;
}

.w-50 .btn7{
background:#FFC107;
color: #331600;
outline:none !important;
border: none;
font-weight: 500;
}

.w-50 .btn7:hover{
background:#ffd54f;
}


.w-50 .btn8{
background:#039be5 !important;
color: #331600 !important;
outline:none !important;
border: none;
font-weight: 500;
}

.w-50 .btn8:hover{
background:#ffd54f;
}
/*-------------------PARALAX-BANNER-------------------*/

/*-------------------FOOTER-FOOTER-------------------*/
section.footer{
width: 100%;
height: auto;
border-top-left-radius:24px;
border-top-right-radius:24px;
background:#0277bd;
padding: 25px 5vh;
margin: 0vh 0;
}

.row{
width: 100%;
margin-left: 8vh;
display: inline-flex;
padding: 0 16vh;
}

.text-truncate{
width: 362px !important;
height: 79px;
padding: 0 9vh !important;
color:white;
margin: 0 4px !important;
}   

.text-truncate:hover{
text-decoration:underline;
transition: all ease 0.2s;
}

/*-------------------FOOTER-FOOTER-------------------*/

/*-------------------FOOTER2-FOOTER2-------------------*/
section.footer2{
width: 100%;
height: auto;
background:#01579b;
margin:-5vh 0;
position:relative;
}

.foot2{
width: 100%;
display: inline-flex;
padding: 0vh 22vh 25px;
margin: 0vh 1vh !important
}

.truncate2{
width: 264px!important;
height:auto;
padding:   45px!important;
margin: 0vh 0vh !important;
color:white;
}   

.truncate2:hover{
text-decoration:underline;
transition: all ease 0.2s;
}

section.truncate3{
margin: 0 -2vh;
}

.foot2 a{
text-decoration:none !important;
color:white;
}

.foot2 a:hover{
color:white;
transition: all ease 0.2s;
}
/*-------------------FOOTER2-FOOTER2-------------------*/

#mapa {
height:400px;
width:100%;
border-bottom-left-radius:24px;
border-bottom-right-radius:24px;
margin: 1vh 0;
}

/*-------------------MEDIAS QUERIES-------------------*/

@media (max-width: 1453px){
.resultados{
flex-wrap: wrap;
}

.banner{
padding:0 35vh;
}

.banner img{
padding: 5px 0vh;

}
}

@media (max-width: 1100px){
html,body{
margin:0;
padding:0 15px;
}

section.noticias {
width:100% !important;
height: auto !important;
flex-direction: column;

}

.deck2{
flex-direction: column;
margin:-6vh 0vh !important;

}

.deck2 .card{
margin:6vh 0 !important;
}

.card-init p{
font-size:16px;
}

.container2{
margin:0!important;
padding:0!important;
display:inline-flex!important;
}

.veja-mais{
padding:0 30vh !important;
}

.resultados{
display:none !important;
}

.banner{
padding:0 10px!important;
}

.banner img{
width:450px;
}

.mais-galerias{
padding: 2vh 8vh!important;
margin: 0;
}

section.galeria-video{
display:inline-block!important;
}

.w-50{
width:100%;
background-attachment: inherit;
padding:auto;
position:absolute;
margin:0 0;
margin-top:-24vh!important;
width:auto;
}

.card-body2 h5 {
font-size:14px;
}
.card-body2 p {
font-size:12px;
}

.w-50 a{
width: auto;
font-size: 12px;
padding:5px;
}
}

@media (max-width: 768px){

.menu1{
width: 99%;
padding: 0 10vh!important;
margin:-5vh ;
}


.btn-grupo1{
flex-direction: column;
}
.card-group {
display: flex;
flex-flow: row wrap;
}

section.card-init{
width: 100%;
height:auto;
}

.card-init h2{
margin: 1vh -12vh;
}

.deck2 .card{
width: 300px;
flex-direction: column;
margin: 7vh 0vh !important;
}
.card3 {
border-radius: 24px;
width: auto;
height: auto;
/* margin: 0 10vh; */
background: white;

}

.deck2 p{
margin: 0vh 0 !important;
}

.data-azul1{
padding: 10vh 0;
z-index:999;
}

.data-azul1 h6{
padding: 5px 20px!important;
font-size: 16px;
}

.data-azul1 {
    color: #001c33;
    margin-top: 32vh;
    padding: 5.8px 0vh;
    position: absolute;
    background: #4fc3f7;
    font-size: 15px;
}


.veja-mais{
padding:0 0 !important;
}

.resultados{

flex-direction: column!important;
justify-content: center!important;
}

.banner{

height: auto !important;
margin:1vh 1vh !important;
}

.banner img{
width: 400px !important;
}
.botoes-mais{
margin:0 19vh;
}

.slide2 {
position: relative;
width: auto;
height: auto;
padding:0;
margin: 0vh auto;
background: #01579b;
border-bottom-left-radius: 24px;
border-bottom-right-radius: 24px;
}

.carrossel {
padding: 0 1vh;
position: relative;
}

.botoes-mais button{
width: 180px;
height:55px;
margin:0 45px;
display: inline;
align-items: center;
justify-content: center;
}

.mais-videos button{
padding:2vh 0;
}

.text-truncate{
padding:0;
}

section.footer{
margin:0;
}

}


@media(max-width: 507px){

.resultados{
display:none;
}


.banner{
padding: 0 !important;
}
.banner img{
width: 350px !important;
}

.veja-mais{
width:100% !important;
height:auto;
}

.btn6{
margin:0 -2vh;
}
}
@media(max-width: 480px){

    /*OUVIDORIA*/

    
.teste > .img img{
    float:left;
    width: 166px;
    height: 94px;
    margin: 0 ;
    }
    
 .nav-pills2{
    float:right;
    padding:0 0vh;
    }

    a button.nav-item1{
        margin:1vh 0!important;
    }

    /*OUVIDORIA*/

.card1{
padding: 0 0vh!important ;
margin: 0 -2vh;
}

.carrossel1{
margin: 0 -20vh!important;
position: relative;
}

.prev1{
margin: -240px -3vh !important;
}

.next1{
margin: -240px 1vh !important;
}

.card-deck {
height: auto;
padding: 0vh;
margin: -5vh 0vh;
display: inline-flex;
}
.card{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap:normal;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

.row{
width: 100%;
margin-left: 0vh;
display: inline-flex;
padding: 1vh 0vh; 
}

section.footer {
width: 100%;
height: auto;
border-top-left-radius: 24px;
border-top-right-radius: 24px;
background: #0277bd;
padding: 25px 1vh;
margin: 5vh 0;
}

section.footer2 {
width: 100%;
height: auto;
background: #01579b;
margin: -5vh 0;
padding: 25px ;
position: relative;
}
.slide2 {
position: relative;
width: auto;
height: auto;
padding: 0 0vh;
margin: 0vh auto;
background: #01579b;
border-bottom-left-radius: 24px;
border-bottom-right-radius: 24px;
}

/*----------CARROSSEL DE BOTOES RESPONSIVO----------*/
.carrossel {
padding: 0 12vh;
margin: 0 0;
position: relative;
}

.prev {
width: 50px;
height: 50px;
float: left;
background: transparent;
border: 0;
margin: 0 1vh;
margin-top: -100px;
position: absolute;
z-index: 9999;
}

.slick-next, .next {
width: 50px;
height: 50px;
float: right;
background: transparent;
border: 0;
margin: 0 3vh;
margin-top: -100px;
position: relative;
z-index: 9999;
}
/*----------CARROSSEL DE BOTOES RESPONSIVO----------*/

}
/*----------RESPONSIVIDADE DO SLIDE DE NOTÍCIAS----------*/



@media(max-width: 360px){
html,body{
margin:0;
padding:0 15px;
}

/*------------------ SECTION NOTICIAS ------------------ */
section.noticias {
width:100%;
height:auto;
flex-direction: column;
}

.noticias h2{
padding: 3vh 0;
}

.card-deck .card {
width: 300px;
margin:3vh 0vh!important;
}

.card-deck{
padding:0;
}

section.noticias .deck2{
display:flex !important;
margin:-6vh 0vh !important;
}

.card-deck .deck2 .card{
margin:6vh 0vh !important;
}

section .card img:hover{
width:302px !important; 
height:302px; 
transition: ease-in-out 0.2s;

}
section.card-init p:hover{ 
color:#01579b !important;
font-size:18px;

}


/*------------------ SECTION NOTICIAS ------------------ */


/*--------------- GALERIA DE FOTOS ---------------*/

section.carrossel-focado {
width: 100%;
height: auto;
background: #01579b;
border-radius: 16px;
}

.carrossel-focado h2{

padding: 1vh 0vh !important;
color: white !important;
font-size: 24px !important;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-shadow: 3px 5px 10px #137ac9;
}
.draggable{
padding: 0px 0px!important;
}

.carrossel-focado h5{
font-size: 11px;
padding: 0 2vh;
}


.data-azul h6{
color:#001c33;
margin-top: -14vh;
padding:5px 5px;
position: absolute;
background:#4fc3f7;
width: 75px;
font-size: 12px;
height: 25px;
border-radius: 16px;
z-index:9999 !important;
}

.prev2{
width:55px;
height:55px;
float:left;
background:transparent;
border:0;
margin: 0 0vh;
margin-top: -10vh;
position: absolute;
z-index: 9999;  
}

.slick-next, .next2{
width:55px;
height:55px;
float:right;
background:transparent;
border:0;
margin: 0 0vh;
margin-top: -11.5vh;
padding: 0 0.8vh;
position: relative;
z-index: 9999; 
}
/*--------------- GALERIA DE FOTOS ---------------*/
button.mais-videos {
background: #ffd54f;
width: auto;
height: auto;
padding: 2vh 13vh;
}

.botoes-mais button{
width: 130px;
height:55px;
margin:0 20px;
display: inline-flex;
align-items: center;
justify-content: center;
}



.mais-videos button{
padding:2vh 0;
}

button.mais-videos {
    width: auto;
    height: auto;
    padding: 2vh 12vh;
    margin: 0 5px;
}
.card3{
border-radius:24px;
width: auto;
height:auto;
padding: 0 ;
margin:1vh 0vh;
background:white;
}

.card .card-body2 {
width: 100%!important;
height: auto;
position: absolute;
margin: 0 0;
}

section.dropdown{
flex-direction: column;
padding: 1.5vh 0!important;
}

/*---------GALERIAS e OBRAS----------*/
button.mais-obras {
    width: auto;
    height: auto;
    padding: 2vh 12vh;
    margin: 0 5px;
}
/*---------GALERIAS e OBRAS----------*/

.text-truncate {
width: 362px !important;
height: auto;
padding: 0vh 2vh !important;
color: white;
margin: 0vh 4px !important;
}
.w-50{
height: 230px !important;
padding-top:-20vh 0  !important;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: normal;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
justify-content: center;
align-items: center;
}

}

@media(max-width: 320px){
/*---------- slide 2 ----------*/
.carrossel{
    padding:0 11vh !important ;
}

.prev{
    display:none !important;
}

.next{
    display:none !important;
}
/*---------- slide 2 ----------*/

/*---------SECTION NOTICIAS---------*/
section.noticias{
margin: 0 -1vh!important;
}

.data-azul{
margin-left: 2vh;
margin-top:-2vh!important;
}

.data-azul{
margin-left: 2vh;
margin-top:-2vh!important;
}

.carrossel-focado h5{
font-size: 10px;
}


.card{
width: 270px !important;
}
/*---------SECTION NOTICIAS2---------*/


.deck2{
margin: 0 -2vh !important;
}

.carrossel1{
margin: 0 -28vh!important;
padding:0 5vh;
position: relative;
}

.card1{
padding: 0 5vh!important ;
margin: 0 -3vh;
}

.card1 p{
padding: 8vh 8vh;
}

.prev1{
display:none!important;
}

.next1{
display:none!important;
}

.data-azul2{
margin-top: -8vh;
}

.mais-resultados {
position: absolute;
width: 200px;
height: 48px;
border-radius: 12px;
color: #331600;
outline-style: none;
border: none !important;
font-weight: bolder;
margin: -20vh -2vh !important;
padding: 0 !important;

}

.center {
margin-left: 1.5vh;
margin-right: 2vh;
margin-top: -15vh;
}

.slick-track{
margin: -2vh 0vh;
}

.draggable{
padding: 30px 0!important;
}

.mais-galerias {
padding: -2vh 0vh!important;
}

.prev2{
display:none!important;
}

.next2{
display:none!important;
}

.calendario-eventos h2{
margin-top: 1vh;
}

.btn6{
margin:0 -4.5vh;
}

}






/*-------------------MEDIAS QUERIES-------------------*/